@import './main.css';

.exitbutton {
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
}

.exitbutton:hover {
    cursor: pointer;
}

.addpostform {
    display: flex;
    gap: 5px;
}

.addpostbtn {
    align-self: flex-end;
}

