:root {
    --clr-primary: #845EC2;
    --clr-white: #ffffff;
    --clr-dark: #090018;
    --clr-secondary: #0db0b3;
    --clr-thriary: #f89d34;
}

* {
    box-sizing: border-box;
    background-color: var(--clr-white);
    color: var(--clr-dark);
}

html, body {
    margin: 0;
    text-align: center;
    font-family:  'Hind', 'Montserrat', sans-serif;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

#root {
    height: 100%;
    margin: 0;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.125rem;
    font-weight: 600;
    opacity: 0.9;   
    background-color: var(--clr-primary);
    color: var(--clr-white);
    max-width: 200px;
}

button:hover {
    background-color: #5501db;
}

.back {
    color: var(--clr-secondary);
    cursor: pointer;
    align-self: flex-end;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  