:root {
    --clr-primary: #845EC2;
    --clr-white: #ffffff;
    --clr-dark: #090018;
    --clr-secondary: #0db0b3;
    --clr-thriary: #f89d34;
}

* {
    box-sizing: border-box;
    background-color: var(--clr-white);
    color: var(--clr-dark);
}

html, body {
    margin: 0;
    text-align: center;
    font-family:  'Hind', 'Montserrat', sans-serif;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

#root {
    height: 100%;
    margin: 0;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.125rem;
    font-weight: 600;
    opacity: 0.9;   
    background-color: var(--clr-primary);
    color: var(--clr-white);
    max-width: 200px;
}

button:hover {
    background-color: #5501db;
}

.back {
    color: var(--clr-secondary);
    cursor: pointer;
    align-self: flex-end;
}
.lds-dual-ring {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: var(--clr-primary);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 5px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}