@import "./main.css";

.singlecomment {
  display: flex;
  gap: 5px;
  margin: 5px;
}

.commentmain {
  background-color: rgb(245, 229, 252);
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-around;
  padding-inline: 10px;
  border-radius: 12px;
  align-items: center;
}

.commentmain > * {
  background-color: rgb(245, 229, 252);
}

.options {
  max-width: 15px;
  opacity: 0.5;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 5px;
  align-self: flex-start;
}

.commentname {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: start;
}
.commenttext {
  grid-column: 1/2;
  grid-row: 2/3;
  opacity: 0.7;
}
.options:hover {
  cursor: pointer;

}

.likeComment {
  display: flex;
  gap: 5px;
  font-size: 0.9rem;
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  text-align: center;
}

.likeComment > img:hover {
  cursor: pointer;
}

.likeComment > img {
  max-width: 20px;
  background-color: rgb(245, 229, 252);
}

.commentPhoto {
  max-width: 50px;
  border-radius: 100%;
}

.addcomment {
  display: flex;
  align-items: center;
}
.addcomment > input {
  width: 100%;
  max-width: 500px;
}

.subbmitcomment {
  font-size: 1rem;
  margin-top: 10px;
}

.cancelcomment {
  font-size: 1rem;
  margin-left: 450px;
}

.cancelcomment:hover {
  cursor: pointer;
}

.imageoptions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.postoptions {
  text-align: end;
  position: relative;
  top: 20px
}