@import './main.css';


.wall {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    background-color: blueviolet;
    gap: 30px;
    padding: 45px;
    min-height: 100vh;
}

.profileandnav {
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}


.profileOptions {
    grid-column: 2/3;
    grid-row: 1/2;
}

.mainWall{
    grid-column: 1/2;
    grid-row:  1/2;
    width: 100%;
    justify-self: center;
    border-radius: 8px;
    box-shadow: inset;
    overflow: hidden;
}

.wallNav {
    display: flex;
    flex-direction: column-reverse;
    grid-column: 2/3;  
    grid-row: 1/2;
    
}
.wallNav > * {
    border: 1px solid black;
    margin-bottom: 3px;
    opacity: 0.7;

    flex: 1;
    
}

.wallNav > *:hover {
    cursor: pointer;
    color: var(--clr-secondary);
    background-color: rgb(247, 247, 247);
    
}

.user {
    display: flex;
    align-items: center;
    margin: 5px;
    flex-direction: column;
}

.logandoptions {
    margin: 5px;
  
}

.profilePhoto {
    max-width: 200px;
    border-radius: 100%;
}

.userinfo {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.settings{ 
    max-width: 25px;
}
.settings:hover {
    cursor: pointer;
}

.logout {
    color: var(--clr-thriary);
    font-weight: 600;
}

.logout:hover {
    cursor: pointer;
}

.profileoptions {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: left;
    margin-left: 5px;
    position: absolute; 
    z-index: 1;
}
.profileoptions > * {
    padding: 5px;
}

.profileoptions > div:hover {
    background-color: rgb(226, 225, 225);
    cursor: pointer;
}

.line {
    background-color: black;
    height: 0.5px;
    padding: 0;
    opacity: inherit;
}
.editProfileForm {
    display: flex;
    justify-content: center;
    align-items: center;
}
.editProfbtn {
    width: 150px;
}

@media (max-width: 600px){
    .wall {
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
        background-color: white;
        padding: 0;
        gap: 0;
    }

    .profileandnav {
        grid-row: 1/2;

    }

    .mainWall{
        grid-row: 2/3;
    }

    .user {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 5px;
        
    }

    .profilePhoto {
        max-width: 100px;
        border-radius: 100%;
    
    }

    .userinfo {
        grid-column: 2/3;
    }
     
}